{% extends "base_generic.html" %}
{% load static %}
{% block content %}
		<section>
            <div class="container">
			<h3>add a new device into the blockchain: </h3>
                <form class="form" action="{% url 'profile' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </br>
                    {% endfor %}
                    <p>possible solution:</p><input type="text" list="languages"><br/>
                    <button type="submit">submit</button>
                </form>
                <datalist id="languages">
                    {% for sol in solution_datalist %}
                               <option value="{{ sol }}">
                    {% endfor %}
                </datalist>
                {% if form_sumbit %}
                		<h3> Solution:</h3>
                			{% for so in solutions %}
                				<p>{{ so }}</p><br/>
                			{% endfor %}
                	<h3>number of tokens to the customer: {{ tokens }} </h3>

                {% endif %}
            </div>
        </section>
{% endblock %}
